In [2]:
import sqlalchemy as db
import getpass

In [3]:
user = "root"
password = getpass.getpass("Insert password: ")
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/publications"

Insert password: ········

In [5]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

Connected to server!

In [6]:
import pandas as pd

In [ ]:
##STEP 1

In [13]:

df= pd.read_sql_query("""

SELECT  ti.title_id as "Title_ID"  ,  aut.au_id AS AUTHORID ,ti.price ,sa.qty ,ti.royalty,ta.royaltyper / 100, 
( ((ti.price * sa.qty * ti.royalty) / 100 )* (ta.royaltyper / 100)) AS sales_royalty
 FROM authors AS aut
   LEFT  JOIN titleauthor AS ta ON aut.au_id=ta.au_id
  LEFT  JOIN titles AS ti ON ta.title_id=ti.title_id
  LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id
  LEFT JOIN sales AS sa ON ta.title_id=sa.title_id;""",engine)

In [ ]:
##STEP 2

In [14]:
df= pd.read_sql_query("""

SELECT AUTHORID , SUM(sales_royalty) FROM (
   SELECT  ti.title_id as "Title_ID"  ,  aut.au_id AS AUTHORID ,
( ((ti.price * sa.qty * ti.royalty) / 100 )* (ta.royaltyper / 100)) AS sales_royalty
 FROM authors AS aut
   LEFT  JOIN titleauthor AS ta ON aut.au_id=ta.au_id
  LEFT  JOIN titles AS ti ON ta.title_id=ti.title_id
  LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id
  LEFT JOIN sales AS sa ON ta.title_id=sa.title_id)AS totaliti
  GROUP BY AUTHORID;""",engine)

In [ ]:
##STEP 3

In [15]:
df= pd.read_sql_query("""

SELECT AUTHORID, SUM(TOTAL) AS re FROM (   
 SELECT AUTHORID, (sales_royalty +adv) AS TOTAL FROM (
 SELECT  ti.title_id as "Title_ID"  ,  aut.au_id AS AUTHORID ,
( ((ti.price * sa.qty * ti.royalty) / 100 )* (ta.royaltyper / 100)) AS sales_royalty ,ti.advance AS adv
 FROM authors AS aut
   LEFT  JOIN titleauthor AS ta ON aut.au_id=ta.au_id
  LEFT  JOIN titles AS ti ON ta.title_id=ti.title_id
  LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id
  LEFT JOIN sales AS sa ON ta.title_id=sa.title_id) AS totaliti) AS TSDFS
  GROUP BY AUTHORID ORDER BY re DESC LIMIT 3;
  """,engine)

In [16]:
  	  #CHALLENGE 2

In [ ]:
df=pd.read_sql_query("""

CREATE TEMPORARY TABLE step2(
 SELECT  ti.title_id as "Title_ID"  ,  aut.au_id AS AUTHORID , 
( ((ti.price * sa.qty * ti.royalty) / 100 )* (ta.royaltyper / 100)) AS sales_royalty
 FROM authors AS aut
   LEFT  JOIN titleauthor AS ta ON aut.au_id=ta.au_id
  LEFT  JOIN titles AS ti ON ta.title_id=ti.title_id
  LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id
  LEFT JOIN sales AS sa ON ta.title_id=sa.title_id);
  
  """,engine)

In [ ]:
df= pd.read_sql_query("""

 CREATE TEMPORARY TABLE step3 ( SELECT AUTHORID , SUM(sales_royalty) as sales_royalty FROM (step1)GROUP BY AUTHORID);

  """,engine)

In [25]:
	#CHALLENGE 3

In [ ]:
df= pd.read_sql_query("""

   CREATE  TABLE FIN ( (SELECT AUTHORID, SUM(TOTAL) AS TOTAL FROM (   
 SELECT AUTHORID, (sales_royalty +adv) AS TOTAL FROM stepultimo AS totaliti) AS TSDFS
  GROUP BY AUTHORID ORDER BY TOTAL DESC LIMIT 3)) ;
  
  """,engine)