In [5]:
import sqlalchemy as db
import getpass

In [6]:
user = "root"
password = getpass.getpass("Insert password: ")
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/publications"

Insert password: ········

In [7]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

Connected to server!

In [8]:
import pandas as pd

In [12]:
#Challegen 1

In [13]:

df= pd.read_sql_query("""

SELECT  aut.au_id AS AUTHORID,aut.au_lname AS "LAST NAME",aut.au_fname AS "FIRST NAME",ti.title AS TITLE,pu.pub_name AS PUBLISHER FROM authors AS aut
 LEFT JOIN titleauthor AS ta ON aut.au_id=ta.au_id
 LEFT JOIN titles AS ti ON ta.title_id=ti.title_id
 LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id;""",engine)

In [17]:
#Challegen 2

In [18]:
df= pd.read_sql_query("""

SELECT  aut.au_id AS AUTHORID,aut.au_lname AS "LAST NAME",aut.au_fname AS "FIRST NAME",pu.pub_name AS PUBLISHER ,COUNT(ti.title) AS TITLECOUNT
 FROM authors AS aut
 LEFT JOIN titleauthor AS ta ON aut.au_id=ta.au_id
 LEFT JOIN titles AS ti ON ta.title_id=ti.title_id
 LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id
 GROUP BY AUTHORID,PUBLISHER;""",engine)

In [19]:
#Challegen 3

In [20]:
df= pd.read_sql_query("""

  SELECT AUTHORID , LAST_NAME, FIRST_NAME, SUM(N_VENTAS) S_NVENTAS FROM (
 SELECT  aut.au_id AS AUTHORID,aut.au_lname AS "LAST_NAME",aut.au_fname AS "FIRST_NAME", 
 ti.advance AS "ADELANTO" , ti.royalty AS PORCENTAJEROYAL,TI.ytd_sales AS N_VENTAS ,ta.au_ord AS N_DEAUTORES
 FROM authors AS aut
   LEFT  JOIN titleauthor AS ta ON aut.au_id=ta.au_id
  LEFT  JOIN titles AS ti ON ta.title_id=ti.title_id
  LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id) AS R
  GROUP BY AUTHORID
  ORDER BY S_NVENTAS DESC  LIMIT 3;""",engine)

In [21]:
#Challegen 4

In [22]:
df= pd.read_sql_query("""

   SELECT AUTHORID , LAST_NAME, FIRST_NAME, SUM(N_VENTAS) S_NVENTAS FROM (
 SELECT  aut.au_id AS AUTHORID,aut.au_lname AS "LAST_NAME",aut.au_fname AS "FIRST_NAME", 
 ti.advance AS "ADELANTO" , ti.royalty AS PORCENTAJEROYAL,TI.ytd_sales AS N_VENTAS ,ta.au_ord AS N_DEAUTORES
 FROM authors AS aut
   LEFT  JOIN titleauthor AS ta ON aut.au_id=ta.au_id
  LEFT  JOIN titles AS ti ON ta.title_id=ti.title_id
  LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id) AS R
  GROUP BY AUTHORID
  ORDER BY S_NVENTAS DESC  ;""",engine)

In [1]:
#Challegen Bonus

In [9]:
df= pd.read_sql_query("""

    SELECT AUTHORID , LAST_NAME, FIRST_NAME, SUM((ADELANTO+((N_VENTAS*(PORCENTAJEROYAL/100))/N_DEAUTORES))) AS PASTA FROM (
 SELECT  aut.au_id AS AUTHORID,aut.au_lname AS "LAST_NAME",aut.au_fname AS "FIRST_NAME", 
 ti.advance AS "ADELANTO" , ti.royalty AS PORCENTAJEROYAL,TI.ytd_sales AS N_VENTAS ,ta.au_ord AS N_DEAUTORES
 FROM authors AS aut
   LEFT  JOIN titleauthor AS ta ON aut.au_id=ta.au_id
  LEFT  JOIN titles AS ti ON ta.title_id=ti.title_id
  LEFT JOIN publishers AS pu ON ti.pub_id=pu.pub_id) AS R
  GROUP BY AUTHORID;  ;""",engine)